{% extends 'base.html.twig' %}

{% block title %}Liste des produits{% endblock %}

{% block content %}
    <h3>Liste des produits</h3>
    <a href="{{path("app_produit_add")}}" class="btn btn-success">Ajouter</a>
    {% if produits is empty %}
        <div class="w-50 alert alert-danger">Aucun produit enregistré</div>
    {% else %}
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Libellé</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for produit in produits %}
                    <tr>
                        <td>{{produit.id}}</td>
                        <td>{{produit.libelle}}</td>
                        <td>
                            <a href="{{path("app_produit_remove", {"id": produit.id})}}" class="btn btn-danger">Supprimer</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}

{% block style %}
<style>
    .btn {
        margin-bottom: 1%;
    }
</style>
{% endblock %}