{% extends "base.html.twig" %}

{% block title %}Accueil{% endblock %}

{% block content %}
    <h3>Acceuil</h3>
    <p>Connecté, en tant que 
        {% if app.user.nom and app.user.prenom %}
            {{app.user.nom}} {{app.user.prenom}}
        {% else %}
            {{app.user.username}}
        {% endif %}
    <p>
{% endblock %}